:host{
    display: block;
    margin-top: 1 rem;
}

.info-text{
    text-align: center;
}

.post-image{
    width: 80%;
    margin : 30px 25px;
}

.post-image img{
    width: 80%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.whole{
    /* margin:auto ; */
    /* width: 100%; */
    margin-top: 0px;
    padding-top: 40px;
    background-color:rgb(239, 241, 193) ;
}

.feed
{
    width: 75%;
    padding: 40px;
    margin: auto;
}
.post-card
{
    margin-bottom: 50px;
    padding: 30px;
}

mat-paginator{
    margin-top : 2 rem;
}