.whole
{
    margin: 0;
    /* position: absolute ; */
    /* height: 900px; */
    /* background-color: limegreen; */
    /* width: 100%; */
    
}
.home-image
{
    height: 500px;
    padding: 255px 320px 0 670px ;
    /* padding-left: 600px; */
    /* padding-top: 100px; */
    background-image: url("https://cdn.pixabay.com/photo/2018/04/07/08/28/notepad-3297994_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center ;
    margin: auto;
}
.post-box
{
    /* background: blue; */
    border: 1px black solid;
    margin: 8px;
    padding: 10px 10px ;
}

.intro
{
    height: 450px;
    padding-left: 500px;
    padding-top: 150px;
    background: rgb(236, 176, 63);
}

.middle
{
    height: 500px;
    /* width: 800px; */
    padding-left: 150px;
    padding-top: 150px;
    background-color: rgb(52, 199, 192);
}

.footer
{
    text-align: center;
    padding: 20px;
    height: 200px;
    background: rgb(75, 83, 92);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

ul#horizontal-icons
{
    list-style: none;
}
ul#horizontal-icons li {
    display: inline;
    margin: 10px;
}
